

server {
        root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name bproservis.com www.bproservis.com;

        location / {
                proxy_pass http://localhost:8080;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
                }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/www.11gidiyor.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/www.11gidiyor.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
        root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name  manueltrade.bproservis.com;

        location / {
                proxy_pass http://localhost:8066;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
                }
}

server {
	root /var/www/html;

	# Add index.php to the list if you are using PHP
	index index.html index.htm index.nginx-debian.html;

	server_name 11gidiyor.com www.11gidiyor.com;

	location / {
		proxy_pass http://localhost:8069;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection 'upgrade';
		proxy_set_header Host $host;
		proxy_cache_bypass $http_upgrade;
		}


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/www.11gidiyor.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/www.11gidiyor.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
        root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name mitedis.com www.mitedis.com;

        location / {
                proxy_pass http://localhost:8070;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
                }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/www.11gidiyor.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/www.11gidiyor.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
        root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name  dijito.mitedis.com;

        location / {
                proxy_pass http://localhost:8070;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
                }


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/dijito.mitedis.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/dijito.mitedis.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}


server {
        root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name ayyildizbot.com www.ayyildizbot.com;

        location / {
                proxy_pass http://localhost:8082;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
                }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/www.11gidiyor.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/www.11gidiyor.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
        root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name argahome.com www.argahome.com  dükkandan.com www.dükkandan.com xn--dkkandan-65a.com www.xn--dkkandan-65a.com;

        location / {
                proxy_pass http://localhost:5050;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
                }


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/bproservis.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/bproservis.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}



server {
        root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name  bopro.com.tr www.bopro.com.tr;

        location / {
                proxy_pass http://localhost:8090;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
                }


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/www.11gidiyor.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/www.11gidiyor.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}



server {
    if ($host = www.bproservis.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = bproservis.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


	listen 80 default_server;
	listen [::]:80 default_server;

	server_name bproservis.com www.bproservis.com;
    return 404; # managed by Certbot

}


server {
    if ($host = www.argahome.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = argahome.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot



    server_name argahome.com www.argahome.com  dükkandan.com www.dükkandan.com xn--dkkandan-65a.com www.xn--dkkandan-65a.com;
    listen 80;
    return 404; # managed by Certbot
}



server {
    if ($host = www.bopro.com.tr) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = bopro.com.tr) {
        return 301 https://$host$request_uri;
    } # managed by Certbot



        server_name bopro.com.tr www.bopro.com.tr;
    listen 80;
    return 404; # managed by Certbot

}




server {
    if ($host = www.ayyildizbot.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = ayyildizbot.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    if ($host = manueltrade.bproservis.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot



        server_name ayyildizbot.com www.ayyildizbot.com manueltrade.bproservis.com;
    listen 80;
    return 404; # managed by Certbot
}


server {
    if ($host = www.mitedis.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = mitedis.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot



        server_name mitedis.com www.mitedis.com;
    listen 80;
    return 404; # managed by Certbot

}

server {
    if ($host = dijito.mitedis.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

        server_name  dijito.mitedis.com;
    listen 80;
    return 404; # managed by Certbot

}


server {
    if ($host = www.11gidiyor.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

if ($host = 11gidiyor.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot



	server_name www.11gidiyor.com 11gidiyor.com ;
    listen 80;
    return 404; # managed by Certbot


}
